4.2/PSoC Creator/dtd/cydevicedata.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="cydevicedata"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://cypress.com/xsd/cydevicedata.xsd"
  targetNamespace="http://cypress.com/xsd/cydevicedata.xsd">

  <!-- define an instance of a block -->
  <xs:element name="block">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="Data" />
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string" />
      <xs:attribute name="desc" use="optional" type="xs:string" />
      <xs:attribute name="visible" use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <!-- define an instance of a register -->
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="field" />
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string" />
      <xs:attribute name="address" use="required" type="xs:string" />
      <xs:attribute name="bitWidth" use="required" type="xs:string" />
      <xs:attribute name="desc" use="optional" type="xs:string" />
      <xs:attribute name="hidden" use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <!-- define an instance of a field -->
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="value" />
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string" />
      <xs:attribute name="from" use="required" type="xs:nonNegativeInteger" />
      <xs:attribute name="to" use="required" type="xs:nonNegativeInteger" />
      <xs:attribute name="access" use="optional" type="xs:string" />
      <xs:attribute name="desc" use="optional" type="xs:string" />
      <xs:attribute name="hidden" use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <!-- define an instance of a field value -->
  <xs:element name="value">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string" />
      <xs:attribute name="value" use="required" type="xs:nonNegativeInteger" />
      <xs:attribute name="desc" use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <!-- define an instance of a memory block -->
  <xs:element name="memory">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1" />
      <xs:attribute name="name" use="required" type="xs:string" />
      <xs:attribute name="address" use="required" type="xs:string" />
      <xs:attribute name="size" use="required" type="xs:string" />
      <xs:attribute name="desc" use="optional" type="xs:string" />
      <xs:attribute name="hidden" use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- define an instance of a data set -->
  <xs:group name="Data">
    <xs:choice>
      <xs:element ref="block" />
      <xs:element ref="memory" />
      <xs:element ref="register" />
    </xs:choice>
  </xs:group>


</xs:schema>
