4.2/PSoC Creator/dtd/cydmacapability.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema 
  elementFormDefault="qualified"
  targetNamespace="http://cypress.com/xsd/cydmacapability.xsd"
  xmlns="http://cypress.com/xsd/cydmacapability.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="DMACapability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs ="unbounded" ref="Category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs ="unbounded" ref="Location"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="bytes_in_burst" type="BytesInBurst" use="required" />
      <xs:attribute name="bytes_in_burst_is_strict" type="xs:boolean" use="required" />
      <xs:attribute name="spoke_width" type="SpokeWidth" use="required" />
      <xs:attribute name="inc_addr" type="xs:boolean" use="required" />
      <xs:attribute name="each_burst_req_request" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Location">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="direction" type="Direction" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="BytesInBurst">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="127"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SpokeWidth">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="source"/>
      <xs:enumeration value="destination"/>
      <xs:enumeration value="both"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
