4.2/PSoC Creator/dtd/cyexampleproject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:string" />        
        <xs:element name="Keyword" type="KeywordType" maxOccurs="unbounded" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="ShortDescription" type="xs:string" minOccurs="0" />
        <xs:element name="DeviceFilter" type="DeviceFilterType" minOccurs="1" maxOccurs="unbounded" />
        <xs:element name="Document" type="xs:string" minOccurs="0" />   
        <xs:element name="MinToolVersion" type="xs:string" minOccurs="0"/>        
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="StarterProject" type="xs:boolean" use="optional" />      
      <xs:attribute name="WorkspaceName" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element> 
  <xs:complexType name="KeywordType">
    <xs:simpleContent>
     <xs:extension base="xs:string">
     <xs:attribute name="Hidden" type="xs:boolean" use="optional" />
    </xs:extension>
   </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeviceFilterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="MpnDefault" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>