4.2/PSoC Creator/dtd/cyideexport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PSoCCreatorIdeExport">
    <xs:annotation>
      <xs:documentation>DO NOT EDIT. This document is generated by PSoC Creator design builds.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Device">
          <xs:complexType>
            <xs:attribute type="xs:string" name="Part"/>
            <xs:attribute type="xs:string" name="Processor"/>
            <xs:attribute type="xs:string" name="DeviceID"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Toolchains">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Toolchain" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Tool" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:attribute type="xs:string" name="Name"/>
                        <xs:attribute type="xs:string" name="Command" use="optional"/>
                        <xs:attribute type="xs:string" name="Options" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name"/>
                  <xs:attribute type="xs:string" name="Selected"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Project">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CMSIS_SVD_File"/>
              <xs:element type="xs:string" name="Datasheet"/>
              <xs:element name="LinkerFiles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LinkerFile" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Toolchain"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Folders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Folder" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Files">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="File" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="BuildType"/>
                                        <xs:attribute type="xs:string" name="Toolchain" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Root"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="BuildType"/>
                        <xs:attribute type="xs:string" name="Path"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name"/>
            <xs:attribute type="xs:string" name="Path"/>
            <xs:attribute type="xs:string" name="Version"/>
            <xs:attribute type="xs:string" name="Type"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
