4.2/PSoC Creator/dtd/cylocalfilesettingsprovider.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema 
  elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://cypress.com/xsd/cylocalfilesettingsprovider" 
  targetNamespace="http://cypress.com/xsd/cylocalfilesettingsprovider">
  
  <xs:element name="usersettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="setting" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="setting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="value" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="value" type ="xs:string">
  </xs:element>
</xs:schema>