4.2/PSoC Creator/dtd/iarprojectconnection_1.1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema version="1.1" id="ipcf" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Attribute group for the root element -->
  <xs:attributeGroup name="rootAttributes">
    <xs:attribute name="version" type="xs:string" use="required"/>
    <xs:attribute name="name"    type="xs:string" use="required"/>
  </xs:attributeGroup>

  <!-- Attribute group for the "group" element -->
  <xs:attributeGroup name="groupAttributes">
    <xs:attribute name="name"    type="xs:string"  use="required"/>
    <xs:attribute name="build"   type="xs:boolean" use="optional"/>
    <xs:attribute name="relRoot" type="xs:string"  use="optional"/>
  </xs:attributeGroup>

  <!-- Type for include path content -->
  <xs:complexType name="includePathType">
    <xs:sequence>
      <xs:element name="path" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type for #defines content -->
  <xs:complexType name="definesType">
    <xs:sequence>
      <xs:element name="define" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type for linkerFile content -->
  <xs:complexType name="linkerFileType">
    <xs:sequence>
      <xs:element name="override" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="path"     type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type for preBuild and postBuild content -->
  <xs:complexType name="buildActionType">
    <xs:sequence>
      <xs:element name="command" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type for nested "group" elements-->
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element name="group" type="groupType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="path"  type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="groupAttributes"/>
  </xs:complexType>


  <!-- XML structure specification -->
  <xs:element name="iarProjectConnection">
    <xs:complexType>
      <!-- elements -->
      <xs:all>
        <xs:element name="includePath"    type="includePathType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="defines"        type="definesType"     minOccurs="0" maxOccurs="1"/>
        <xs:element name="asmIncludePath" type="includePathType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="asmDefines"     type="definesType"     minOccurs="0" maxOccurs="1"/>
        <xs:element name="linkerFile"     type="linkerFileType"  minOccurs="0" maxOccurs="1"/>
        <xs:element name="preBuild"       type="buildActionType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="postBuild"      type="buildActionType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="files" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <!-- Recursive group declaration -->
              <xs:element name="group" type="groupType" minOccurs="0" maxOccurs="unbounded"/>
              <!-- Top-level files -->
              <xs:element name="path"  type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="relRoot" type="xs:string"  use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <!-- root attributes -->
      <xs:attributeGroup ref="rootAttributes"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
