4.2/PSoC Creator/dtd/toolchainflags.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tool_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Compiler" />
      <xs:enumeration value="Assembler" />
      <xs:enumeration value="Library" />
      <xs:enumeration value="Linker" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Toolchain" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Tool" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Setting" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute type="xs:string" name="value" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="tool_type" name="name" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>