4.2/PSoC Creator/import/keil/pk51/9.51/UV4/CMSIS-Component.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
  @note    Copyright (C) 2012 ARM Limited. All rights reserved.
  @par
   ARM Limited (ARM) is supplying this software for use with Cortex-M
   processor based microcontroller, but can be equally used for other
   suitable  processor architectures. This file can be freely distributed.
   Modifications to this file shall be clearly marked.

  @date: 15.05.2012

  @par
   THIS SOFTWARE IS PROVIDED "AS IS".  NO WARRANTIES, WHETHER EXPRESS, IMPLIED
   OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
   MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE APPLY TO THIS SOFTWARE.
   ARM SHALL NOT, IN ANY CIRCUMSTANCES, BE LIABLE FOR SPECIAL, INCIDENTAL, OR
   CONSEQUENTIAL DAMAGES, FOR ANY REASON WHATSOEVER.

   Package file name construction: <vendor>_<name>_<version>.[comp|zip]
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">

  <!-- Registered Device/Software Vendors -->
  <xs:simpleType name="DeviceVendorEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Analog Devices:1"/>
      <xs:enumeration value="ARM:82"/>
      <xs:enumeration value="Atmel:3"/>
      <xs:enumeration value="Cypress:19"/>
      <xs:enumeration value="Ember:98"/>
      <xs:enumeration value="Engery Micro:97"/>
      <xs:enumeration value="Freescale:78"/>
      <xs:enumeration value="Fujitsu Semiconductors:100"/>
      <xs:enumeration value="Holtek:106"/>
      <xs:enumeration value="Infineon:7"/>
      <xs:enumeration value="Lapis Semiconductor:10"/>
      <xs:enumeration value="Milandr:99"/>
      <xs:enumeration value="Nuvoton:18"/>
      <xs:enumeration value="NXP:11"/>
      <xs:enumeration value="Samsung:47"/>
      <xs:enumeration value="Silicon Labs:21"/>
      <xs:enumeration value="STMicroelectronics:13"/>
      <xs:enumeration value="Texas Instruments:16"/>
      <xs:enumeration value="Toshiba:92"/>
      <xs:enumeration value="Triad Semiconductor:104"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Predefined Component Class Names -->
  <xs:simpleType name="CclassEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CMSIS"/>
      <xs:enumeration value="RL-ARM"/>
      <xs:enumeration value="Device"/>
      <xs:enumeration value="Network"/>
      <xs:enumeration value="FlashFS"/>
      <xs:enumeration value="USB"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Predefined Component Group Names -->
  <xs:simpleType name="CgroupEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CORE"/>
      <xs:enumeration value="RTOS"/>
      <xs:enumeration value="DSP"/>
      <xs:enumeration value="FAT"/>
      <xs:enumeration value="USBHost"/>
      <xs:enumeration value="Protocol"/>
      <xs:enumeration value="Socket"/>
      <xs:enumeration value="Startup"/>
      <xs:enumeration value="Config"/>
      <xs:enumeration value="Interface"/>
      <xs:enumeration value="Driver"/>
      <xs:enumeration value="HTTP"/>
      <xs:enumeration value="FTP"/>
      <xs:enumeration value="TFTP"/>
      <xs:enumeration value="SMTP"/>
      <xs:enumeration value="SNMP"/>
      <xs:enumeration value="DNS"/>
      <xs:enumeration value="Web"/>
      <xs:enumeration value="Telnet"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Dcore enumeration type -->
  <xs:simpleType name="DcoreEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="SC000"/>
      <xs:enumeration value="SC300"/>
      <xs:enumeration value="Cortex-M0"/>
      <xs:enumeration value="Cortex-M0+"/>
      <xs:enumeration value="Cortex-M1"/>
      <xs:enumeration value="Cortex-M3"/>
      <xs:enumeration value="Cortex-M4"/>
      <xs:enumeration value="Cortex-R4"/>
      <xs:enumeration value="Cortex-R5"/>
      <xs:enumeration value="Cortex-A5"/>
      <xs:enumeration value="Cortex-A8"/>
      <xs:enumeration value="Cortex-A9"/>
      <xs:enumeration value="CA15"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Dendian enumeration type -->
  <xs:simpleType name="DendianEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Little-endian"/>
      <xs:enumeration value="Big-endian"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Dfpu enumeration type -->
  <xs:simpleType name="DfpuEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="FPU"/>
      <xs:enumeration value="NO_FPU"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Dmpu enumeration type -->
  <xs:simpleType name="DmpuEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="MPU"/>
      <xs:enumeration value="NO_MPU"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- file category type -->
  <xs:simpleType name="FileCategoryType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="doc"/>
      <xs:enumeration value="header"/>
      <xs:enumeration value="library"/>
      <xs:enumeration value="object"/>
      <xs:enumeration value="source"/>
      <xs:enumeration value="svd"/>
      <xs:enumeration value="flash"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- compiler toolchain enumeration -->
  <xs:simpleType name="CompilerEnumType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="GCC"/>
      <xs:enumeration value="ARMCC"/>
      <xs:enumeration value="IAR"/>
      <xs:enumeration value="Tasking"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FilterType">
    <xs:attribute name="Dcore" type="DcoreEnum"/>
    <xs:attribute name="Dvendor" type="DeviceVendorEnum"/>
    <xs:attribute name="Dname" type="xs:string"/>
    <xs:attribute name="Dfpu" type="DfpuEnum"/>
    <xs:attribute name="Dmpu" type="DmpuEnum"/>
    <xs:attribute name="Dendian" type="DendianEnum"/>
    <xs:attribute name="Cclass" type="CclassEnum"/>
    <xs:attribute name="Cgroup" type="CgroupEnum"/>
    <xs:attribute name="Csub" type="xs:string"/>
    <xs:attribute name="Cversion" type="xs:string"/>
    <xs:attribute name="Tcompiler" type="CompilerEnumType"/>
    <xs:attribute name="condition" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="DependencyType">
    <xs:attribute name="Cclass" type="CclassEnum" use="required"/>
    <xs:attribute name="Cgroup" type="CgroupEnum" use="required"/>
    <xs:attribute name="Csub" type="xs:string"/>
    <xs:attribute name="Cversion" type="xs:string"/>
    <xs:attribute name="condition" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ApiType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <!-- list of files / content -->
      <xs:element name="files">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="file" type="FileType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Cclass" type="CclassEnum" use="required"/>
    <xs:attribute name="Cgroup" type="CgroupEnum" use="required"/>
  </xs:complexType>

  <xs:complexType name="ApisType">
    <xs:sequence>
      <xs:element name="api" type="ApiType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConditionType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="accept" type="FilterType"/>
        <xs:element name="require" type="FilterType"/>
        <xs:element name="deny" type="FilterType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ConditionsType">
    <xs:sequence>
      <xs:element name="condition" type="ConditionType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GeneratorType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="project" type="xs:string"/>
        <xs:element name="parameters" type="xs:string"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="GeneratorsType">
    <xs:sequence>
      <xs:element name="generator" type="GeneratorType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MaxInstancesType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- file type definition -->
  <xs:complexType name="FileType">
    <xs:attribute name="condition" type="xs:string" use="optional"/>
    <xs:attribute name="generator" type="xs:string" use="optional"/>
    <xs:attribute name="category" type="FileCategoryType" use ="required"/>
    <!-- path + filename + extension -->
    <xs:attribute name="name" type ="xs:string" use="required" />
    <!-- copy file to project folder -->
    <xs:attribute name="copy" type ="xs:boolean" use="optional" default="false" />
  </xs:complexType>

  <!-- package description root point -->
  <xs:element name="package" nillable="true">
    <xs:complexType>
      <xs:all>
        <xs:element name="name" type="xs:string" minOccurs="1"/>
        <xs:element name="vendor" type="xs:string" minOccurs="1"/>
        <xs:element name="version" type="xs:string" minOccurs="1"/>
        <xs:element name="description" type="xs:string" minOccurs="1"/>
        <xs:element name="url" type="xs:anyURI" minOccurs="1"/>
        
        <!-- keyword for Search Engine Indexing (e.g. Google) -->
        <xs:element name="keywords" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="keyword" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- apis section contains api descriptions used in the entire model -->
        <xs:element name="apis" type="ApisType" minOccurs="0"/>
        <!-- conditions section contains all condition entries used by any component of the package -->
        <xs:element name="conditions" type="ConditionsType" minOccurs="0"/>
        <!-- generators section contains all generator entries used by any component of the package -->
        <xs:element name="generators" type="GeneratorsType" minOccurs="0"/>
        <xs:element name="components" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <!-- COMPONENT Description Root Point: -->
              <xs:element name="component" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <!-- short component description displayed -->
                    <xs:element name="description" type="xs:string"/>
                   <!-- list of files / content -->
                    <xs:element name="files">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="file" type="FileType" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <!-- component identity attributes -->
                  <xs:attribute name="Cclass" type="CclassEnum" use="required"/>
                  <xs:attribute name="Cgroup" type="CgroupEnum" use="required"/>
                  <xs:attribute name="Csub" type="xs:string" use="optional"/>
                  <xs:attribute name="Cversion" type="xs:string" use="optional"/>
                  <!-- component attribute for referencing a condition specified in conditions section above -->
                  <xs:attribute name="condition" type="xs:string" use="optional"/>
                  <!-- component attribute for referencing a generator specified in generators section above -->
                  <xs:attribute name="generator" type="xs:string" use="optional"/>
                  <!-- maximum allowed number of instances of a component in a project, default - 1-->
                  <xs:attribute name="maxInstances" type="MaxInstancesType" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
